<template>
    <div class="test">
        <h1>Блог</h1>
        <div>
            <router-link
                    v-for="post in posts"
                    active-class="is-active"
                    class="link"
                    :to="{ name: 'post', params: { id: post.id } }">
                {{post.id}}. {{post.title}}
            </router-link>
        </div>
    </div>
</template>


<script>
    import axios from 'axios'
    export default {
        data () {
            return {
                posts: null,
                endpoint: 'https://jsonplaceholder.typicode.com/posts/',
            }
        },
        created() {
            this.getAllPosts();
            document.title = "Change title";
        },
        methods: {
            getAllPosts() {
                axios.get(this.endpoint)
                    .then(response => {
                        this.posts = response.data;
                        console.log(this.posts);
                    })
                    .catch(error => {
                        console.log('-----error-------');
                        console.log(error);
                    })
            }
        }
    }
</script>
