<template>
    <div class="hello">
        <h1>{{ pageTitle }}</h1>
        <p>
            Мир творит гравитационный парадокс. Гений заполняет язык образов, открывая новые горизонты.
            Культ джайнизма включает в себя поклонение
            Махавире и другим тиртханкарам, поэтому генетика оспособляет сенсибельный мир, открывая новые горизонты.
        </p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pageTitle: 'Контакты'
            }
        },
        methods: {
            checkForm: function (e) {

                e.preventDefault();
            }
        }
    };
</script>