<template>
    <div class="hello">
        <h1>{{ message }}</h1>
        Not found page
    </div>
</template>

<script>
    export default {
        data() {
            return {
                message: 'Страница не найдена.'
            }
        }
    };
</script>