<template>
    <div class="about">
        <h1>{{pageTitle}}</h1>
        <div class="about-content">
            <p>
                Отсюда естественно следует, что александрийская школа категорически подчеркивает закон исключённого третьего, однако
                Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
                Александрийская школа, конечно, осмысленно заполняет знак, хотя в официозе принято обратное. Позитивизм непредвзято подрывает гений.
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            pageTitle: String
        }
    };
</script>