<template>
  <div id="app">
    <header>
      <h1>Vue.js SPA</h1>
    </header>
    <main>
      <aside class="sidebar">

        <ul id="nav">
          <li><router-link to="/">Главная</router-link></li>
          <template v-if="isLoggedIn">
            <li><router-link to="/about">О проекте</router-link></li>
            <li><router-link to="/blog">Блог</router-link></li>
            <li><router-link to="/contacts">Контакты</router-link></li>
            <li><a href="#" v-on:click="logout">Выйти</a></li>
          </template>
          <template v-else>
            <li><router-link to="/register">Регистрация</router-link></li>
            <li><router-link to="/login">Вход</router-link></li>
          </template>
        </ul>
      </aside>
      <div class="content">
        <router-view></router-view>
      </div>
    </main>
  </div>
</template>

<script>
    export default {
        computed: {
            isLoggedIn: function() {
                return this.$store.getters.isLoggedIn;
            }
        },
        methods: {
            logout: function() {
                this.$store.dispatch("logout").then(() => {
                    this.$router.push("/login");
                });
            }
        }
    };
</script>

<style>
  body {
    margin: 0;
    padding: 0;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 90px;
    border-bottom: 1px solid #42b983;
    text-align: center;
    background: #ffffff;
  }
  main {
    display: flex;
    height: calc(100vh - 90px);
    max-width: 1200px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  aside {
    flex: 1 0 30%;
    height: 100%;
    overflow-y: auto;
    width: 30%;
    padding: 50px 30px;
    box-sizing: border-box;
    border-right: 1px solid #42b983;
  }
  .content {
    display: flex;
    padding: 10px;
    width: 70%;
  }
  .link {
    display: block;
    text-decoration: underline;
    margin-bottom: 10px;
    color: #2c3e50;
  }
  .link:hover {
    text-decoration: none;
  }

</style>
