<template>
    <div>
        <form class="login" @submit.prevent="login">
            <h1>Вход</h1>
            <label>Email</label>
            <input required v-model="email" type="email" placeholder="Email"/>
            <br>
            <label>Пароль</label>
            <input required v-model="password" type="password" placeholder="Пароль"/>
            <hr/>
            <button type="submit">Войти</button>
        </form>
    </div>
</template>
<script>

    export default {
        data() {
            return {
                email: "",
                password: ""
            };
        },
        methods: {
            login: function() {
                let email = this.email;
                let password = this.password;
                this.$store
                    .dispatch("login", { email, password })
                    .then(() => this.$router.push("/"))
                    .catch(err => console.log(err));
            }
        },
        created: function () {
            //Проверяем, если пользователь уже авторизован, то отправляем его на главную страницу
            if(this.$store.getters.isLoggedIn) {
                this.$router.push("/")
            }
        }
    };
</script>