<template>
    <div>
        <h4>Регистрация</h4>
        <form @submit.prevent="register">
            <label for="name">ФИО</label>
            <div>
                <input id="name" type="text" v-model="name" required autofocus>
            </div>
            <label for="email" >E-Mail</label>
            <div>
                <input id="email" type="email" v-model="email" required>
            </div>
            <label for="password">Пароль</label>
            <div>
                <input id="password" type="password" v-model="password" required>
            </div>
            <label for="password-confirm">Подтверждения пароля</label>
            <div>
                <input id="password-confirm" type="password" v-model="password_confirmation" required>
            </div>
            <div>
                <button type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                name: "",
                email: "",
                password: "",
                password_confirmation: "",
            };
        },
        methods: {
            register: function() {
                let data = {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                };
                this.$store
                    .dispatch("register", data)
                    .then(() => this.$router.push("/"))
                    .catch(err => console.log(err));
            }
        },
        created: function () {
            //Проверяем, если пользователь уже авторизован, то отправляем его на главную страницу
            if(this.$store.getters.isLoggedIn) {
                this.$router.push("/")
            }
        }
    };
</script>